<div class="container py-3 mb-3">
      <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <img src="https://image.flaticon.com/icons/png/512/1440/1440602.png" width="40">
          <span class="fs-4 pb-1">MercadoFusión</span>
        </a>
  
        <nav class="d-inline-flex mb-0 mt-2 mt-md-0 ms-md-auto">
          <ng-container >
            <a class="text-dark text-decoration-none btn" [routerLink]="['/cuenta']"><img src="https://image.flaticon.com/icons/png/512/859/859322.png" width="40"></a>
          </ng-container>
            <ng-container >
              <a class="text-dark text-decoration-none mx-2 btn" [routerLink]="['/gestion']"><img src="https://image.flaticon.com/icons/png/512/2230/2230606.png" width="40"></a>
            </ng-container>
          <ng-container >
            <a class="text-dark text-decoration-none btn p-0 mx-3 fit-content" [routerLink]="['/cuenta']"><img src="https://i.imgur.com/nmnmfGv.png" width="50"></a>
          </ng-container>
          <ng-container >
            <a class="me-3 py-auto text-dark text-decoration-none btn login-btn" [routerLink]="['/login']">Iniciar Sesión</a>
            <a class="pt-2 text-dark text-decoration-none btn btn-outline-primary signup-btn" [routerLink]="['/signup']">Registrarse</a>
          </ng-container>
        </nav>
      </div>
