/* You can add global styles to this file, and also import other style files */
.cart-item {
 font-size: medium;   
}

.cart {
    float: center;
}

.filters {
    font-size: small;
    border-radius: 0;
    float: left;
}

.product-btn {
    font-size: small;
    border-color: orange;
}

.product-btn:hover {
    border-color: orange;
    background-color: orange;   
}

.products-list {
    
    

}

.product-item {
    height: 400px;
}

.fa-heart {
    color: palevioletred;
    cursor: pointer;
}

.filtersTitle {
    font-size: 20px;
    font-weight: bold;
    color: rgb(231, 231, 231);
}

.filtersLabels {
    font-size: 16px;
}

.stopper
{
	margin-top: -5%;
	width: 85%;
	height: 1px;
    color: white;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent); 
}


.filtersLabels::after {
    /* position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #ff7000; */
}

.categoriesUL {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: none;
}

.categoriesList { 
    /* padding: 6px 0; */
}

.categoriesP {
    position: relative;
    display: block;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

.categoriesP::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #ff7000;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

.categoriesP:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.signup-btn {
    border-color: rgb(51, 196, 51);
}

.signup-btn:hover {
    border-color: rgb(51, 196, 51);
    background-color: rgb(51, 196, 51);   
}

.login-btn {
    border-color: orange;
}

.login-btn:hover {
    border-color: orange;
    background-color: orange;   
}

.forms {
    margin: 10px;
}

.btn-primary.disabled, .btn-primary:disabled {
    cursor: not-allowed;
    border-color: rgb(236, 120, 159);
    background-color: rgb(236, 120, 159);
}

.form-submit-btn {
    border-color: rgb(223, 30, 30);
    background-color: rgb(223, 30, 30);
    margin: 0 auto;
    display: block;
}

.cart {
    width: 100%;
}

.cart-item {
    position: relative;
}

.btn-close {
    border-radius: 99px;
    width: 8px;
    height: 8px;
    background-color: lightskyblue;
    border: 4px;
    position: absolute;
    float: right;
    right: 2px;
    top: 30%;
}

.btn-circle {   
    width: 30px;
    height: 30px;
    padding: 6px 0px -6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
}

.hover-btn {
    display: none;
}

.cart-item:hover .hover-btn {
    display: block;
}

 .color-box {
    color: #fff;
    padding-bottom: 2px; 
    padding-top: 2px;
    border-radius: 4px;
    box-shadow: 0 7px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 transparent;
} 

.blue-grad {
    background: #007eff;
    background: -webkit-linear-gradient(left top,#007eff,#00d8ff);
    background: -o-linear-gradient(bottom right,#007eff,#00d8ff);
    background: -moz-linear-gradient(bottom right,#007eff,#00d8ff);
    background: linear-gradient(to bottom right,#007eff,#00d8ff);
}

.orange-grad {
    background: #ff9900;
    background: -webkit-linear-gradient(left top,#ff9900,#00d8ff);
    background: -o-linear-gradient(bottom right,#ff9900,#00d8ff);
    background: -moz-linear-gradient(bottom right,#ff9900,#00d8ff);
    background: linear-gradient(to bottom right,#ff9900,#00d8ff);
}

.red-grad {
    background: #ff0095;
    background: -webkit-linear-gradient(left top,#ff0095,#00d8ff);
    background: -o-linear-gradient(bottom right,#ff0095,#00d8ff);
    background: -moz-linear-gradient(bottom right,#ff0095,#00d8ff);
    background: linear-gradient(to bottom right,#ff0095,#00d8ff);
}

.form-control-range {
    display: block;
    width: 100%;
  }

.rounded-pill {
    width: 75%;
}
