/* You can add global styles to this file, and also import other style files */

.product-btn {
    font-size: small;
    border-color: orange;
}

.product-btn:hover {
    border-color: orange;
    background-color: orange;   
}
.card-header {
    text-align: center;
    color: rgb(231, 231, 231);
}

.card-header .sm {
    font-size: 20px;
    font-weight: bold;
}

.pointer:hover {
    cursor: pointer;
}

.stopper
{
	margin-top: -5%;
	width: 85%;
	height: 1px;
    color: white;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent); 
}

.categoriesUL {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: none;
}

.orangeUnderline {
    position: relative;
    display: block;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

.orangeUnderline::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #ff7000;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

.orangeUnderline:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.forms {
    margin: 10px;
}

.btn-primary.disabled, .btn-primary:disabled {
    cursor: not-allowed;
    border-color: rgb(236, 120, 159);
    background-color: rgb(236, 120, 159);
}

.form-submit-btn {
    border-color: rgb(223, 30, 30);
    background-color: rgb(223, 30, 30);
    margin: 0 auto;
    display: block;
}

.cart {
    width: 100%;
}

.cart-item {
    position: relative;
}

.btn-circle {   
    width: 30px;
    height: 30px;
    padding: 6px 0px -6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
}

.btn-close {
    border-radius: 99px;
    width: 8px;
    height: 8px;
    background-color: lightskyblue;
    border: 4px;
    position: absolute;
    float: right;
    right: 2px;
    top: 30%;
}

.btn-delete {
    position: absolute;
    float: right;
    top: 10%;
}

.hover-btn {
    display: none;
}

.cart-item:hover .hover-btn {
    display: block;
}

 .color-box {
    color: #fff;
    padding-bottom: 2px; 
    padding-top: 2px;
    border-radius: 4px;
    box-shadow: 0 7px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 transparent;
} 

.blue-grad {
    background: #007eff;
    background: -webkit-linear-gradient(left top,#007eff,#00d8ff);
    background: -o-linear-gradient(bottom right,#007eff,#00d8ff);
    background: -moz-linear-gradient(bottom right,#007eff,#00d8ff);
    background: linear-gradient(to bottom right,#007eff,#00d8ff);
}

.orange-grad {
    background: #ffac31;
    background: -webkit-linear-gradient(left top,#ffac31,#e22222);
    background: -o-linear-gradient(bottom right,#ffac31,#e22222);
    background: -moz-linear-gradient(bottom right,#ffac31,#e22222);
    background: linear-gradient(to bottom right,#ffac31,#e22222);
}

.red-grad {
    background: #ff0095;
    background: -webkit-linear-gradient(left top,#9900ff,#0059ff);
    background: -o-linear-gradient(bottom right,#9900ff,#0059ff);
    background: -moz-linear-gradient(bottom right,#9900ff,#0059ff);
    background: linear-gradient(to bottom right,#9900ff,#0059ff);
}

.form-control-range {
    display: block;
    width: 100%;
  }

.rounded-pill {
    width: 75%;
}
