
          <div class="card shadow-sm product-item">
            <img class="bd-placeholder-img card-img-top p-2" width="100%" src="{{productItem.imageUrl}}"/>
            
            <div class="card-body">
              <p class="card-text">
                
              </p>
              <p class="card-text">{{productItem.name}}</p>
                
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                  <button type="button" 
                          class="btn btn-sm btn-outline-secondary product-btn" 
                          (click)="handleAddToCart()">Al carrito</button>
                  
                  <strong><small class="text-muted">&emsp;{{ productItem.price | currency: '$' }}</small></strong>
                </div>
              </div>
            </div>