<div class="container w-75 text-center">
    <h1 class="blue-grad text-center shadow-sm card-header"><i class="fas fa-receipt mx-2"></i>Recibo</h1>
        <div class="d-flex flex-row">
            <div class="order-1 card shadow-sm text-center" style="width: 30%;">
                <h2 class="checkoutHeader m-2 no-wrap"><i class="fas fa-user-circle mx-2"></i></h2>
                <div class="card-body lh-2">
                    <p><strong>Dirección:</strong>
                    <p>Calle Falsa 123</p>
                    <p><strong>Apodo</strong></p>
                    <p>McLovin</p>
                    <p><strong>Método de Pago:</strong></p>
                    <select name="paymentMethod" id="paymentMethod" [(ngModel)]="checkoutOrder.statusId">
                        <option value="1" selected>Paypal</option>
                        <option value="2">Efectivo</option>
                    </select>
                </div>
            </div>
            <div class="order-2 text-center card shadow-sm ms-5" style="width: 70%;">
                    <h2 class="checkoutHeader m-2"><i class="fas fa-shopping-cart mx-2"></i></h2>
                    <div *ngFor="let item of checkoutOrder.cart">
                        <app-order-item [orderItem]="item" (quantity)="quantityEvent($event)"></app-order-item>
                    </div>
                    <div class="d-flex flex-row justify-content-evenly w-50" style="margin-left: 45%;">
                        <p class="ms-5 order-1"><strong>Total</strong></p>
                        <p class="order-2 ms-4">${{ cartTotal }}</p>
                    </div>
            </div>
        </div>
    <button type="button" class="btn btn-primary btn-success text-center my-5" (click)="sendOrder()" data-toggle="modal" data-target="#successModal">Enviar pedido</button>
</div>
<app-success-pop-up></app-success-pop-up>