<div>
    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <button id="button-addon2" type="submit" class="btn btn-link text-warning" (click)="search(1, 12)"><i class="fa fa-search"></i></button>
          </div>
          <input type="search" placeholder="¿Qué querés comprar hoy?" 
                 aria-describedby="button-addon2" class="form-control border-0 bg-light" 
                 (keyup)="handleEnter($event)" name="searchbar" id="searchbar">     
        </div>
    </div>
    <div>
      
    </div>
  </div>