<div class="card filters" width="fill">

    <div class="card-header">
        <strong>Filtros</strong>
    </div>

    <div class="card-body align-items-center">

        <form>
            
            
            <div class="alert alert-warning box" *ngIf="categoriesList.length === 0">
                <p>¡Nos robaron las categorías!</p>
            </div>

            <div    class="categoriesList"
                    *ngIf="categoriesList.length > 0">
                <p class="form-group align-middle filtersLabels">Categorías</p>
                <div class="col categoriesList"  
                    *ngFor="let cat of categoriesList"
                    (click)="filterCategory(cat.categoryID)"
                    onhover="cursor: pointer">
                    <p>{{cat.description}}</p>
                </div>
            </div>

            <div class="form-group filtersLabels">
                <button class="btn" (click)="filterStock()" *ngIf="this.filters.Status == 0">Sólo Productos Disponibles</button>
                <button class="btn" (click)="filterStock()" *ngIf="this.filters.Status == 1">Productos Sin Stock También</button>
            </div>

            <div class="form-group">
                <label for="form">Mínimo</label>
                <label for="form" class="float-right" id="MinLabel"></label>
                <input type="range" id="from" class="form-control" min="0" max="1000" step="5"
                oninput="document.getElementById('MinLabel').innerHTML = this.value;">
            </div>

            <div class="form-group">
                <!-- <mat-slider thumbLabel min="1" max="10" step="1" value="4"></mat-slider>

                <mat-slider tickInterval="2" thumbLabel min="1" max="10" step="1" value="4"></mat-slider> -->
                <label for="to">Máximo</label>
                <label for="form" class="float-right" id="MaxLabel"></label>
                <input type="range" name="maxPrice" [(ngModel)]="filters.PriceMax" class="form-control" min="0" max="1000" step="5"
                oninput="document.getElementById('MaxLabel').innerHTML = this.value;">
            </div>

        <br>

            <button class="btn btn-primary btn-block btn-sm" (click)="loadFilters()">Filtrar</button>
        </form>

    </div>

</div>