<div class="card filters" width="fill">

    <div class="card-header">
        <strong>Filtros</strong>
    </div>

    <div class="card-body align-items-center">

        <form>
            
            <div class="col" onclick="alert(this.InlineText)" *ngFor="let cat in categories">
                <p>{{cat.name}}</p>
            </div>

            <div class="form-group" style="padding-bottom: 10px;">
                <button class="btn">Mostrar sólo En Stock</button>
            </div>

            <div class="form-group">
                <label for="form">Mínimo</label>
                <input type="number" id="from" class="form-control">
            </div>
            
            <div class="form-group">
                <label for="to">Máximo</label>
                <input type="number" id="to" class="form-control">
            </div>

        <br>

            <button class="btn btn-primary btn-block btn-sm">Filtrar</button>
        </form>

    </div>

</div>