<div class="card-header blue-grad text-center">
    <strong class="filtersTitle">Filtros</strong>
</div>

<div class="card filters" width="fill">

    
    <div class="card-body align-items-center">

        <form>
            
            <div class="alert alert-warning box" *ngIf="categoriesList.length === 0">
                <p style="height: 5px;">¡Nos robaron las categorías!</p>
            </div>

            <div *ngIf="categoriesList.length > 0">
                <p class="form-group align-middle filtersLabels">Categorías</p>
                <hr class="stopper">
                
                <p class="" *ngIf="categoryFilter" (click)="filterCategory(0)">Todas</p>
                <ul class="categoriesUL">
                    <li class="col categoriesList shadow-outline"  
                        *ngFor="let cat of categoriesList"
                        (click)="filterCategory(cat.categoryID)">
                        <p class="categoriesP">{{cat.description}}</p>
                    </li>
                </ul>
            </div>
            
            <div class="form-group filtersLabels">
            <hr class="stopper" style="margin-bottom: 0;">
                <button class="btn filtersLabels text-left col-xs-11 " (click)="filterStock()" *ngIf="this.filters.Status === 0">Sólo Productos Disponibles</button>
                <button class="btn filtersLabels text-left col-xs-11 " (click)="filterStock()" *ngIf="this.filters.Status === 1">Productos Sin Stock También</button>
            <hr class="stopper" style="margin-top: 0;">
            </div>

            <div class="row">
                <div class="col">
                    <label for="form " class="">Mínimo</label>
                </div>
                <div class="col">
                    <label class="MinLabel" id="MinLabel">$0</label>
                </div>
                <div class="w-100">
                    <div class="form-group">
                        <input id="ex2" type="range" class="form-control-range" value="0" min="0" max="1000" step="5"
                        id="MinRange" oninput="MinLabel.innerHTML='$' + value">
                    </div>
                </div>
            </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="form " class="">Máximo</label>
                    </div>
                    <div class="col">
                        <label class="MaxLabel" id="MaxLabel">$0</label>
                    </div>
                    <div class="w-100">
                        <div class="form-group">
                            <input id="ex2" type="range" class="form-control-range" value="0" min="0" max="1000" step="5"
                            id="MaxRange" oninput="MaxLabel.innerHTML='$' + value">
                        </div>
                    </div>
                </div>

        <br>

            <button class="btn btn-primary btn-block btn-sm" (click)="loadFilters()">Filtrar</button>
        </form>

    </div>

</div>