
<div class="modal fade mt-5" id="successModal">
    <div class="modal-dialog modal-confirm">
        <div class="card modal-content">
            <i class="fas fa-truck" style="font-size: xx-large;"></i> 
            <div class="card-title">
                <p>¡Enviado!</p>
            </div>
            <div class="card-text">
                <p>Yay! Es un buen surtido<br><br>Llegará pronto.</p>
            </div>
            <button type="button" class="btn pointer" data-dismiss="modal" [routerLink]="['/']">Seguir envío</button>
        </div>
    </div>
</div>